user nginx;
worker_processes auto;
error_log /var/log/nginx/error.log;
pid /run/nginx.pid;

events {
    worker_connections 1024;
}

http {
    include /etc/nginx/mime.types;
    default_type application/octet-stream;
    sendfile on;
    keepalive_timeout 65;
    server_tokens off;

    server {
        listen {{ nginx_port | default(80) }};
        server_name {{ server_name | default('localhost') }};

        root /usr/share/nginx/html;
        index index.html;

        location / {
            try_files $uri $uri/ =404;
        }

        error_page 404 /custom_404.html;
        location = /custom_404.html {
            internal;
        }
    }
}

